/* --- MOBILE FIRST --- */
.card {
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;

  width: 100%; /* OCUPA ANCHO COMPLETO EN MÓVIL */
  max-width: 260px; /* PARA QUE NO SE ESTIRE DEMÁS */
  margin: 0 auto; /* CENTRADO */
}

.title {
  font-size: 12px;
  color: var(--gray-700);
}

.value {
  font-size: 20px;
  font-weight: 700;
  color: var(--success-dark);
  margin-top: 6px;
}

.subtitle {
  font-size: 11px;
  color: #9ca3af;
  margin-top: 4px;
}

/* TABLET */
@media (min-width: 600px) {
  .card {
    max-width: 180px;
  }

  .value {
    font-size: 22px;
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .value {
    font-size: 26px;
  }
}
