.profileContainer {
  padding: 24px;
  background-color: var(--white);
  color: #111827;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Ajuste de la card */
.profileCard {
  background: var(--white);
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  width: 340px;
  min-width: 280px
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
}

.historyWrapper {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 0 12px;
}

.tableResponsive {
  width: 100%;
  overflow-x: auto;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--primary);
  color: white;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.avatarImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: var(--primary-dark);
}

.role {
  font-size: 14px;
  color: var(--gray-700);
}

.userDetails {
  text-align: left;
}

.infoSection {
  border-top: 1px solid #e5e7eb;
  padding-top: 16px;
}

.infoSection p {
  margin: 6px 0;
  font-size: 15px;
  color: #333;
  border: 1px solid var(--gray-200);
  padding: 1rem;
  border-radius: 0.5rem;
  border-left: 4px solid var(--primary);
  box-shadow: var(--gray-300) 0px 1px 3px 0px;
}

.cerrarSesión {
  padding: 0.75rem 1.5rem;
  background-color: var(--error-dark);
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.2s ease-in-out;
}

.cerrarSesión:hover {
  background-color: var(--error);
}

/* SECCIÓN DE BOTONES Y VISTAS */
.actionsSection {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 60%;
}

.actionsContainer {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.historyBtn {
  padding: 12px 16px;
  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.historyBtn:hover {
  background-color: #2563eb;
}

.activeSection {
  background-color: white;
  color: var(--primary-dark);
  border: 1px solid var(--primary);
}

@media (max-width: 1024px) {
  .profileContainer {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .actionsSection {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .actionsContainer {
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  .historyBtn {
    width: 100%;
  }

  .profileCard {
    width: 100%;
    max-width: 550px;
  }
}

@media (max-width: 480px) {
  .profileContainer {
    padding: 12px;
  }
}