.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.optionsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 40px 0;
  justify-content: space-evenly;
  align-items: center;
}

.welcomeContainer {
  width: 100%;
  text-align: center;
  padding: 0;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-dark);
  margin-bottom: 20px;
}

.subtitle {
  font-size: 16px;
  color: var(--gray-800);
}

.primaryButton {
  display: inline-block;
  text-decoration: none;
  margin: 24px 0;
  background-color: var(--primary);
  color: white;
  font-size: 18px;
  font-weight: 600;
  min-width: 200px;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(9, 80, 195, 0.3);
  transition: transform 0.2s, box-shadow 0.2s;
  border-color: var(--primary-dark);
}

.primaryButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(9, 80, 195, 0.4);
  background-color: var(--white);
  color: var(--primary-dark);
}

.secondaryButton {
  display: inline-block;
  text-decoration: none;
  margin: 24px 0;
  background-color: white;
  color: var(--primary-dark);
  font-size: 16px;
  font-weight: bold;
  min-width: 200px;
  padding: 16px 24px;
  border: 2px solid var(--primary-dark);
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.secondaryButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  background-color: var(--primary-dark);
  color: var(--white);
}

/* ---- FILTRO DE ESTADO ---- */
