:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.title {
  font-size: 3.25rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn {
  padding: 0.75rem 1.5rem;
  color: white;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 500;
}

.btn-register {
  background-color: #3b82f6;
}

.btn-register:hover {
  background-color: #1b5be3;
  color:white;
}

.btn-login {
  background-color: #10b981;
}

.btn-login:hover {
  background-color: #039667;
  color:white;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 300px;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.input-field:hover {
  width: 300px;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 1px solid #868686;
  border-radius: 0.5rem;
  font-size: 1rem;
}