.userProfile {
  max-width: 600px;
  width: 50%;
  margin: 0 auto;
  padding: 25px;
  background: var(--primary);
  border-radius: 14px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.08);
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #007bff;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.userProfile h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  color: var(--white);
}
.imgUploadLabel {
  display: inline-block;
  margin: 12px 0;
  padding: 10px 16px;
  background: var(--white);
  color: var(--primary);
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
}
/* Form */
.form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: var(--white);
}

.form input {
  margin-top: 6px;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  font-size: 16px;
  background: #fafafa;
  transition: all 0.2s;
}

.form input:focus {
  outline: none;
  border-color: #007bff;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

/* Botón */
.saveBtn {
  margin-top: 10px;
  padding: 12px;
  background: var(--white);
  color: var(--primary);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}

.saveBtn:hover:not(:disabled) {
  background: #0066d6;
}

.saveBtn:disabled {
  background: #9cc7ff;
  cursor: not-allowed;
}

/* Info NO editable */
.infoBox {
  margin-top: 30px;
  padding: 20px;
  background: #f7f9fc;
  border: 1px solid #e1e5eb;
  border-radius: 12px;
}

.infoBox p {
  margin-bottom: 10px;
  font-size: 15px;
  color: #333;
}

.infoBox strong {
  color: #000;
}

/* Responsive */
@media (max-width: 480px) {
  .userProfile {
    padding: 18px;
  }

  .form input {
    font-size: 14px;
  }

  .saveBtn {
    font-size: 14px;
  }
}
