.container {
  padding: 2rem;
  background-color: var(--gray-100);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--primary-dark);
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.kpiContainer {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.chartGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 2rem;
  width: 100%;
  background: var(--white);
  padding: 1rem;
  border-radius: 10px;
}

.chartFull {
  grid-column: span 2;
}

.chartSection {
  background: var(--white);
  padding: 1rem;
  border-radius: 10px;
}
.chartSection h2 {
  margin-bottom: 1rem;
  color: var(--primary-dark);
}

.filterGroup {
  display: flex;
  flex-direction: column;
}
.filterGroup label {
  font-weight: 600;
  color: var(--gray-700);
}
.filterGroup select {
  padding: 0.5rem;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
}
.filterGroup select:hover {
  border-color: var(--gray-500);
}
.filterGroup select:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}
.filterGroup input {
  padding: 0.5rem;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
}
.filterGroup input:hover {
  border-color: var(--gray-500);
}

.applyButton {
  background-color: var(--primary);
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}
.applyButton:hover {
  background-color: var(--primary-dark);
}

.clearButton {
  background-color: var(--white);
  color: var(--primary);
  padding: 0.75rem 1.5rem;
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}
.clearButton:hover {
  background-color: var(--gray-100);
}
.excelButton {
  background-color: var(--success);
  color: var(--white);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease-in-out;
}
.excelButton:hover {
  background-color: var(--success-dark);
}
