.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 5rem);
  background-color: #f9fafb;
  padding: 20px;
}

.welcomeContainer {
  text-align: center;
  margin: 32px auto;
  max-width: 800px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  color: #1f2937;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 14px;
  color: #4b5563;
}

.greeting {
  font-size: 18px;
  color: #4b5563;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 210px;
  gap: 14px;
  margin-top: 32px;
  margin-right: 32px
}

.primaryButton {
  background-color: var(--primary);
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  padding: 14px 20px;
  border-radius: 12px;
  cursor: pointer;
}

.primaryButton:hover {
  background-color: var(--white);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.secondaryButton {
  background-color: white;
  color: var(--primary);
  font-size: 16px;
  font-weight: 500;
  min-width: 200px;
  padding: 16px 24px;
  border: 2px solid var(--primary);
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.secondaryButton:hover {
  transform: translateY(-2px);
  background-color: var(--primary);
  color: var(--white);
}

.logoutButton {
  background-color: #ef4444;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 14px 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 30px; /* Espacio justo debajo de los botones */
  align-self: center; /* Lo centra horizontalmente */
}

/* ✅ Tablet */
@media (min-width: 768px) {
  .title { font-size: 34px; }
  .subtitle { font-size: 16px; }

  .buttonContainer {
    flex-direction: row;
    justify-content: center;
    max-width: 700px;
  }

  .primaryButton {
    min-width: 180px;
    width: auto;
  }
}

/* ✅ Desktop */
@media (min-width: 1024px) {
  .title { font-size: 38px; }
}